* {
    margin: 0;
    padding: 0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.divs{
    background-color: white;
    margin: 20px;
    padding: 20px;
    border-radius: 10px;
}
/* Header */
.header {
    background-color: rgb(44, 43, 43);
    color: white;
    text-align: center;
    padding: 20px;
    border-radius: 5px;
}
/* todos los h2 del texto */
.h2 {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding: 15px;
    margin: 10px;
    border-bottom: 5px solid gray;
}

.pprimerdiv {
    text-decoration: underline;
    padding: 20px;
}

.p2primerdiv {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: floralwhite;
    padding: 20px;
    margin: 10px;
    border-left: 10px solid gray;
}

.primercaja {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin: 20px;
    padding: 15px;
    border-radius: 10px;
    border: 2px solid black;
    box-shadow: 0 10px 10px -5px gray;
}

.segundacaja {
    background-color: bisque;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin: 20px;
    padding: 15px;
    border-radius: 10px;
    border: 4px solid black;
    box-shadow: 0 20px 20px 0 gray;
}

.firstbox {
    margin: 10px;
    padding: 30px;
    background-color: lightblue;
    position: relative;
}

.secondbox {
    padding: 20px;
    margin: 10px;
    background-color: aqua;
    border-radius: 5px;
    position: absolute;
    top: 50%;
    left: 70%;
}
.position{
    padding-bottom: 20px;
    height: 250px;
}
.grid-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    /* Dos columnas de igual ancho */
    gap: 10px;
    /* Espacio entre los elementos */
    padding: 10px;
    background-color: #f0f0f0;
}

.grid-item {
    background-color: #9476d8;
    color: white;
    border: 1px solid #ddd;
    padding: 20px;
    text-align: center;
    font-size: 1.2em;
    border-radius: 5px;
}

.animacion {
    width: 100px;
    height: 100px;
    background-color: rgb(226, 18, 18);
    transition: background-color 0.5s ease;
}

.animacion:hover {
    background-color: red;
}

.mover {
    width: 100px;
    height: 100px;
    background-color: green;
    position: relative;
    animation: moverIzquierdaDerecha 3s infinite;
    border-radius: 50%;
}

@keyframes moverIzquierdaDerecha {
    0% {
        left: 0;
    }

    50% {
        left: 50%;
    }

    100% {
        left: 0;
    }
}

/* mediaqueries */
@media (max-width: 768px) {
    body {
        background-color: #ddbce4;
        /* Cambia el color de fondo */
    }

    #h1Header {
        font-size: 20px;
        /* Reduce el tamaño de la fuente del encabezado */
    }

    h2 {
        font-size: 20px;
    }

    section {
        width: 95%;
        /* Ajusta el ancho de la sección */
        padding: 10px;
        /* Reduce el padding */
    }
}