*{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

#formulario{
    margin-top: 50px;
}
#email-guardado{
    padding: 10px;
    background-color: lightsalmon;
    border-radius: 20px;
}